@font-face {
    font-family: 'Lexend-Medium';
    /* A name you choose */
    src: url('static/Lexend-Medium.ttf') format('truetype');
    /* Fallbacks */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Optional, controls how the font loads */
}

@font-face {
    font-family: 'Lexend-Regular';
    /* A name you choose */
    src: url('static/Lexend-Regular.ttf') format('truetype');
    /* Fallbacks */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Optional, controls how the font loads */
}

html body {
    font-family: Lexend-Regular, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.banner {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    margin: 0;
    padding: 0;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.menu {
    display: flex;
    direction: row;
    /* Align it to the right edge of the navigation bar */
    background-color: white;
    /* Add a background color for better visibility */
    border: 1px solid #ccc;
    /* Optional: Add a border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional: Add a shadow for better appearance */
    list-style: none;
    /* Remove default list styling */
    padding: 10px 0;
    /* Add some padding */
}

.menu li {
    margin: 0;
    padding: 0;
}

.menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

.menu li a:hover {
    background-color: #f0f0f0;
    /* Highlight on hover */
}


.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

section h1 {
    color: #333;
}

section p {
    line-height: 1.6;
}

section h3,
section h6,
section p {
    margin: 0px 50px 20px 50px;
}

.color-bar {
    width: 100%;
    height: 10px;
    background-color: #255373;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 15px;
    height: 90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-body-bg-color {
    background-color: rgb(203, 239, 239);
    border-bottom: 2px solid;
    border-image: linear-gradient(to bottom left, #258374, #cbeff0);
    border-image-slice: 1;
}

.card-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.footer {
    background-color: #2f2f2f;
    text-align: center;
    color: white;
    padding: 15px 0;
    margin-top: 40px;
    border-top: 1px solid #e7e7e7;
}

.design-bar,
.design-bar-right {
    list-style-type: none;
    margin-left: 20px;
}

.design-bar li {
    background-color: #88cfed;
    height: 40px;
    line-height: 40px;
    padding-right: 20px;
    margin-bottom: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: right;
}

.design-bar-right li {
    background-color: #88cfed;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.design-bar li:nth-child(odd),
.design-bar-right li:nth-child(odd) {
    background-color: #ace1f8;
}

.design-bar li:nth-child(even),
.design-bar-right li:nth-child(even) {
    background-color: #6fb3d0;
}

.heading {

    width: 400px;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-image: linear-gradient(to bottom right, #ffffff, #9fa95a);
    border-image-slice: 1;
    background-color: #255373;
}

.banner-title {
    width: 100%;
    background-color: #d8fac8;
    border-bottom: 20px solid #255373;
    padding: 20px 0;
    color: #000000;
}

.banner-title h3 {
    margin-top: 20px;
    font-size: 28px;
}

/* The container - defines the perspective */
.flip-card {
    color: #fff;
    width: 300px;
    height: 200px;
}

/* Container for both sides */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* Flip action on hover */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position front and back sides */
.flip-card-front,
.flip-card-back {
    color: #fff;
    background-color: #042a3a;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the back side (rotated 180deg) */
.flip-card-back {
    transform: rotateY(180deg);
}

.inner {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bg-boxes {
    border-top: 1px solid #255373;
    background-color: #cde5f8;
    border-radius: 10px;
    padding: 20px 0;
}